.smime-info-good {
	background-color: #d1fbd5;
	color: #222;
	width: 100%;
	height: 24px;
	padding: 0 0 0 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

.smime-info-fatal {
	background-color: #f9cbca;
	color: #222;
	width: 100%;
	height: 24px;
	padding: 0 0 0 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

.smime-info-partial {
	background-color: #fae0c1;
	color: #222;
	width: 100%;
	height: 24px;
	padding: 0 0 0 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

.smime-info-info {
        background-color: #d7e8f8;
        color: #222;
        width: 100%;
        height: 24px;
        padding: 0 0 0 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
}

.icon_smime_encrypt {
  background-image: url(../icons/ico_lock_locked.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon_smime_unlocked {
  background-image: url(../icons/ico_lock_open.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon_smime_sign {
  background-image: url(../icons/ico_ribbon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon_smime_sign_selected {
  background-image: url(../icons/ico_ribbon_selected.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon_smime_encrypt_selected {
  background-image: url(../icons/ico_lock_locked_selected.png);
  background-repeat: no-repeat;
  background-position: center;
}

.x-grid3-hd-row td.zarafa-icon-column .x-grid3-hd-inner p.icon_smime_settings {
  background-position: center;
  width: 16px; 
}

.icon_smime_settings {
  background-image: url(../icons/ico_shield.png);
  background-repeat: no-repeat;
}

.icon_smime_sign_content {
   display: inline-block;
}

.icon_smime_sign_content:before {
   content: url(../icons/ico_ribbon.png);
   position: relative;
   top: 3px;
}

.icon_smime_encr_content {
   display: inline-block;
}

.icon_smime_encr_content:before {
   content: url(../icons/ico_lock_locked.png);
   position: relative;
   top: 3px;
}

.icon_smime_decr_content:before {

   content: url(../icons/ico_lock_open.png);
   position: relative;
   top: 3px;
}

.icon_smime_decr_content {
   display: inline-block;
}

/* styling for the passphrase dialog */
.zarafa-smime-passphrasewindow {
    margin: 10px 10px 10px;
}

.passphrase-submit {
    margin: 0 auto !important;
    padding-top: 30px !important;
}

.zarafa-smime-passphrasewindow div > .x-form-item-label {
    width: 130px !important;
}

.zarafa-smime-passphrasewindow input[type="password"] {
    width: 200px !important;
}

.zarafa-smime-invalid-text {
    color: #e30022;
}
